body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://cdn.mos.cms.futurecdn.net/a39NsKS2NYbmdPZiwqccpa.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Header */
header {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: transparent;
}

.header-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 120px; /* Increase logo size */
    height: auto;
}

.brand-name {
    font-weight: bold;
    color: white;
    font-size: 24px;
    margin: 0; /* Remove any extra margin */
}

/* Content container */
.content-container {
    background-color: rgba(0, 0, 0); /* Black background with 50% opacity */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 20px 10px 30px rgba(0, 0, 0,0.8);
}

/* Content */
.content {
    text-align: center;
    color: white;
    font-weight: bold;
}

.main-heading {
    font-size: 28px;
    margin-bottom: 30px;
}

/* Pricing */
.pricing {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.plan {
    background-color: white;
    color: black; /* Adjusted text color for readability */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    text-align: center;
}

.plan:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.price {
    font-size: 24px; /* Increase font size for price */
    font-weight: bold;
}

/* Payment form */
.payment-form {
    text-align: left;
    margin-top: 20px;
}